{% extends 'first_app/base.html' %}
{% block body %}

    <h4>Artist Name: {{ artist_info.first_name }} {{ artist_info.last_name }}</h4>
    <h4>instrument: {{ artist_info.instrument }}</h4>
    <a href="{% url 'first_app:edit_artist' artist_id=artist_info.id %}" class="btn btn-primary">Edit</a>
    <h3>Album List</h3>
    <table class="table">
        <tr>
            <th> Album Name</th>
            <th> Relese Date</th>
            <th> Rating</th>
        </tr>
        {% for album in album_list %}
        <tr>
            <th> {{ album.name }}</th>
            <th> {{ album.release_date }}</th>
            <th> {{ album.num_stars }}</th>
        </tr>
    {% endfor %}

    </table>

{% endblock %}