<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<script src="https://ajax. googleapis. com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs. cloudflare. com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<meta charset="utf-8">

</head>
<body>
<nav class="navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'first_app:index' %}">Home</a>
    <a class="navbar-brand" href="{% url 'first_app:form' %}">Form</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>
{% block base %}

{% endblock %}

</body>
</html>